/* Common styles */
.hidden {
    display: none;
}
.testing h1 {
    color: #07635A;
}

/* Navbar */
.navbar-bottom {
    margin-bottom: 0;
}

/* Footer */
.footer {
    margin-bottom: 0;
}

.java__keyword {
    color: navy;
    font-weight: bold;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
}

.java__number {
    color: red;
}

/* Buttons */
#end-test {
    padding-bottom: 0;
}
.confirm {
    float: right;
}

/* Icons */
.wrong-icon {
    position: relative;
}
.cross-icon {
    position: absolute;
    left: 0;
    top: -9px;
}

/* Add question */
.test {
    margin-bottom: 2em;
    padding: 1em;
}
.answer-text {
    vertical-align: middle;
    display: inline-block;
    width: 90%;
    word-wrap: break-word;
    margin-bottom: 10px
}

.panel-heading {
    height: 50px;
}

/* Test */
/* Right answer */
.right-answer {
    color: #4caf50;
}
.correct .list-group .list-group-item .row-action-primary i{
    background-color: #4caf50;
}
.correct .java {
    border-color: #4caf50;
    background: #f9ffeb;
}
/* Result */
/* Wrong answer */
.wrong-answer {
    color: #f44336;
}
.wrong-answer .answer-text {
    text-decoration: line-through;
}
.incorrect .list-group .list-group-item .row-action-primary i{
    background-color: #f44336;
}
.incorrect .java {
    border-color: #f44336;
    background: #fff8f8;
}
.incorrect .question-head .title {
    font-weight: bold;
}
.list-group .list-group-item .row-content .least-content {
    top: 5px;
}
.least-content .label {
    font-size: 0.9em;
}
/* Form */
.answers li {
    padding: 3px 0 5px 0;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}
.answers li.last {
    border: 0;
    padding-bottom: 10px;
}
.form-horizontal .checkbox {
    padding-top: 5px;
}
.question-head .title {
    font-size: 1.2em;
    vertical-align: super;
    margin-left: 0.5em;
}
.question-head {
    margin-bottom: 0.75em;
}
.question-topic .label {
    font-size: 1em;
}
.question-result-block {
    margin: 15px 0;
    padding: 10px 15px 5px 5px;
}
.pagination > li > a, .pagination > li > span {
    line-height: 1.75;
}

.pagination > li > a.btn-with-text,
.pagination > li > a.btn-with-text:hover{
    padding-bottom: 0;
    color: #fff;
    background-color: #5cb85c;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.selected {
    background-color:#009688
}

.sidebar {
    float: left;
    margin-left: 20px;
    margin-right: 30px;
}

.sidebar .items {
    list-style: none;
}

.question-block-result {
    margin-left: 0;
    margin-right: 0;
}

.sidebar .items li {
    display: block;
}

.timer {
    height: 18px;
    font-size: 1.2em;
    color: #006359;
}

.chili {
    margin-top: 10px;
}

label p {
    margin-top: 10px;
}

.datatable-block {
    margin-right: 15px;
    margin-left: 15px;
}

.remove-all-button {
    margin-left: 50%;
    margin-top: 10%;
}

.btn.btn-fab i {
    top: 0px;
}
.btn-text {
    vertical-align: super;
}
.table .btn {
    margin: 0;
}
.sidebar .items li .answer-button {
    margin-bottom: 0px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.list-group-item-text {
    width: 80%;
}

.explanation {
    margin: 7px 5px 7px 30px;
    font-style: italic;
}

.add-profile input{
    margin-bottom: 30px;
}

.add-category {
    margin-top: 0px;
}

.custom-container {
    margin-bottom: 60px;
}