<html>
<head>
    <link href="http://test-cuisineschool.rhcloud.com/resources/bower_components/bootstrap/dist/css/bootstrap.css"
          rel="stylesheet">
    <link href="http://test-cuisineschool.rhcloud.com/resources/bower_components/bootstrap-material-design/dist/css/roboto.css"
          rel="stylesheet">
    <link href="http://test-cuisineschool.rhcloud.com/resources/bower_components/bootstrap-material-design/dist/css/material-fullpalette.css"
          rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <div>
            <img src="http://static1.squarespace.com/static/5063dc14e4b016af496ff087/t/52e4aba2e4b054846ca298e4/1390717859771/hello.png"
                 width="100px">
        </div>
        <hr>
        <div>
            <h1>Congratulations, Dear ${name}!</h1>
        </div>
        <div>
            <h3>
                You have successfully registered at <a
                    href="http://test-cuisineschool.rhcloud.com">Test Portal</a></h3>
        </div>

        <div>
            <h3>
                Your Login - <b>${email}</b>
            </h3>
        </div>

        <div>
            <h3>
                Your Password - <b>${password}</b>
            </h3>
        </div>
        <hr>
        <p>
            <b>Note:</b> this e-mail was sent automatically, please, do not reply to it.
        </p>

    </div>
</div>
</body>

</html>